<h1>
  <a id="bootstrap-angular-validation-no-jquery" class="anchor"
     aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>
  Documentations
</h1>

<p>
  For the most basic validation to work, you must design your forms as mentioned in the
  <a href="http://getbootstrap.com/css/#forms">docs</a>.
</p>

<pre class="highlight highlight-source-html">
  <xmp class="prettyprint">
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
    </div>
  </xmp>
</pre>