<h1>
  <a id="how-it-works" class="anchor"
     aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>
  How it works
</h1>

<p>
  For the most basic validation to work, you must design your forms as mentioned in the
  <a href="http://getbootstrap.com/css/#forms">docs</a>. See an example below:
</p>

<codepen pen-id="akEXbr" default-tab="html" height="650"></codepen>

<h2 id="form-group-class">The <strong>.form-group</strong> parent element</h2>

<p>
  In the above example, all the input fields are properly written using Bootstrap's guideline i.e. each input field
  have a parent element with class <strong class="pl-s">.form-group</strong>. This library looks up for this parent
  element for each input fields to validate and inserts the error message accordingly and adds the
  <strong class="pl-s">.has-error</strong> class to that element.
</p>

<h2 class="bs-form-group">The <strong>bs-form-group</strong> parent element directive</h2>

<p>
  If your form is designed in a different way which does not use the <strong class="pl-s">.form-group</strong> as a
  parent element's class, then optionally you can add a <strong class="pl-s">bs-form-group</strong> attribute to a
  parent element for each input element to tell this library that this particular element with attribute <span
  class="pl-s">bs-form-group</span> is a parent for this input element.
</p>

<h2 id="bs-validation">The <strong>bs-validation</strong> directive</h2>

<p>
  Another important thing to note here that all the input elements which requires validation must have
  <strong class="pl-s">bs-validation</strong> directive applied and must be using the
  <strong class="pl-s">ng-model</strong> directive.
</p>

<h4><strong>What?? bs-validation directive in each input field</strong></h4>

<p>
  Yes, <strong class="pl-s">bs-validation</strong> is the main directive which needs to be added to each input
  element in a form in order to enable the validation. But, you don't see that in the above example??
  <i>Continue reading..</i>
</p>

<h2 class="form">The <strong>form</strong> directive</h2>

<p>
  <strong class="pl-mq">That is the magic!</strong> If your all the input elements are wrapped inside a <strong
    class="pl-ent">form</strong> element then you don't have to insert <strong class="pl-s">bs-validation</strong>
  directive to all your input elements. This library will do it for you automagically using a
  <strong class="pl-s">form</strong> directive available in this module. This will save you from the tedious work of
  adding this directive to all the input elements if you have say 30 input elements in a form.
</p>

<h2 id="validation-state">Validation state</h2>

There are currently two types of validation state available:

<ol>
  <li><strong>Success</strong>: i.e. when a certain input element passes all the validations</li>
  <li><strong>Error</strong>: i.e. when a certain input element fail to pass minimum of one validation</li>
</ol>

<h3>Success validation state</h3>

<p>
  Whenever an input element is marked as valid (i.e. it passed all the validation), then the <strong
  class="pl-s">.has-success</strong> class is added to the form group parent element as described in the
  <a href="http://getbootstrap.com/css/#forms-control-validation">forms control validation</a> section in the Bootstrap.
</p>

<h3>Error validation state</h3>

<p>
  Whenever an input element is marked as invalid (i.e. it fail to pass any of the the validation), then the <strong
    class="pl-s">.has-error</strong> class is added to the form group parent element as described in the
  <a href="http://getbootstrap.com/css/#forms-control-validation">forms control validation</a> section and also the
  default configured message will be displayed as the block-level help text below in the input field.
</p>

<div class="highlight highlight-text-html-basic">
  <pre>&lt;<span class="pl-ent">span</span> <span class="pl-e">src</span>=<span class="pl-s"><span
      class="pl-pds">"</span>help-block bs-invalid-msg<span
      class="pl-pds">"</span></span>&gt;This field is required.&lt;/<span class="pl-ent">span</span>&gt;</pre>
</div>

<p>
  The class <strong class="pl-s">.has-error</strong> can be customized in the app's config. See the configuration and
  example section for this. This is the <strong>simple</strong> way of displaying the error message. This module
  also provide another type of displaying the error message as <strong>tooltip</strong>. Check the next section for
  this.
</p>

<h2 id="events">Events for validation state</h2>

<p>
  The actual validation is handled by the Angular itself all the time. This module just displays the validation state
  on various events. The default event of displaying validation state is <strong class="pl-s">blur</strong> i.e. the
  validation state will be shown as the user lost focus from an input field. Validation events available are:
</p>

<ol>
  <li><strong>blur</strong>: Display validation state as the input is blurred i.e. focus is lost from that input</li>
  <li><strong>submit</strong>: Display the validation after the form submission is attempted</li>
  <li><strong>display</strong>: Display the validation state as the form is presented to the user</li>
</ol>

<p>Any combination of these events can be customized globally. Check the next section for the usage.</p>

<h2 id="validator">The validator</h2>

<p>
  This module uses the <a href="https://code.angularjs.org/1.3.0/docs/api/ng/type/ngModel.NgModelController#$validators">
  <strong class="pl-s">$validator</strong></a> introduced in Angular 1.3.0 to provide validation and watches for the
  input field validity to show/hide the validation state.
</p>

<p>
  Apart from some of the already available <a
  href="https://code.angularjs.org/1.3.0/docs/api/ng/directive/input">validations</a>, this module also adds some
  very common & useful validations. <a
  href="https://github.com/sagrawal14/bootstrap-angular-validation/blob/v1.0.0-RC1/src/services/validation.service.js#L34">here</a>
  are the list of extra validations which are available in this module.
</p>

<h2>Configuration & Examples</h2>

<p>
  <a href="#/customization-and-examples">Check out</a> guide for customizations and examples.
</p>